
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(21, 21, 21), rgb(21, 21, 21));
}

@font-face {
  font-family: "FuturaBold";
  src: local("FuturaBold"), url("./Fonts/Futura-Bold.otf") format("truetype");
  font-weight: bold
}
